* {
    margin:0;
    padding:0;
}

.content {
    margin-left: 5%;
    padding-top: 20px;
    position: relative;
    width:100%;
}

.content>div {
    position : absolute;
    padding:30px;
    margin-left: 5px;
    width:55vh;
    box-sizing: border-box;
    border-radius: 0%;
    background-color: white;
    line-height: 1.2;
    font-weight: 400;
}

img {
    border-radius: 50%;
    width:100px;
    height:100px;
    margin-top: 0px;
    padding-left: 3px;
}

h1 {
    text-align: center;
}

h2, h4 {
    line-height: 0.9;
}

body {
    background-color:seashell;
}

.content>div:nth-of-type(1) {
    left:0%;

}

.content>div:nth-of-type(2) {
    left:33.33%;

}

.content>div:nth-of-type(3) {
    left:66.66%;
}

.content>div:nth-of-type(4) {
    top:600px;
    left:0%;
    margin-top: 80px;
    padding-bottom: 10px;

}

.content>div:nth-of-type(5) {
    top:600px;
    left:33.33%;
    margin-top: 80px;
    padding-bottom: 10px;
}

.content>div:nth-of-type(6) {
    top:600px;
    left:66.66%;
    margin-top: 80px;
    padding-bottom: 10px;
}